{{- $fullname := printf "%s-%s" .Release.Name .Chart.Name | trunc 63 | trimSuffix "-" -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullname }}
  labels:
    app: {{ $fullname }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ $fullname }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
